*.csv filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
or filter=lfs diff=lfs merge=lfs -text
specifically filter=lfs diff=lfs merge=lfs -text
IMDB[[:space:]]Dataset12.csv filter=lfs diff=lfs merge=lfs -text
